.basket-modal {
  display: none;
  flex-direction: column;
  font-size: 1rem;
  color: var(--color-black);
  position: absolute;
  right: 0;
  top: 100%;
  background: var(--color-white);
  padding: 1rem;
  border-radius: var(--main-radius);
  opacity: 1;
  transform: translateY(0);
  transition: opacity var(--main-transition), transform var(--main-transition);
  transition-behavior: allow-discrete;
  z-index: 20;
  width: 25rem;

  @starting-style {
    opacity: 0;
    transform: translateY(-10px);
  }
}

.basket-modal__list-empty {
  text-align: center;
  padding-block: 0.5rem;
}

.basket-modal__list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-height: 15rem;
  overflow-y: auto;
}

.basket-modal__list-item {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.basket-modal__list-image {
  height: 3rem;
  width: 3rem;
  border-radius: var(--main-radius);
}

.basket-modal__list-title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.basket-modal__information {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.basket-modal__controls {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}