.header {
  position: sticky;
  top: 0;
  z-index: 10;
  background: var(--color-white);
}

.header__inner {
  padding-block: clamp(0.75rem, 0.66515rem + 0.36199vw, 1rem);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-inline: auto;
}

.header__menu {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.header__menu-list {
  display: flex;
  gap: 2rem;
}

.header__menu-basket-wrapper {
  display: inline-flex;

  @media (min-width: 48rem) {
    @media (hover: hover) {
      &:hover .basket-modal {
        display: flex;
      }
    }
  }
}

.header__menu-basket {
  position: relative;
  color: var(--color-black);
  transition: color var(--main-transition);

  @media (hover: hover) {
    &:hover {
      color: var(--color-brown-light);
    }
  }

  &:active {
    color: var(--color-brown-light);
  }
}

.header__menu-basket-quantity {
  position: absolute;
  bottom: -0.5rem;
  font-weight: 700;
  border-radius: 0.5rem;
  font-size: 0.75rem;
  background: var(--color-brown-light);
  color: var(--color-black);
  width: 100%;
  text-align: center;
  z-index: 10;
}

.header__menu-link {
  color: var(--color-black);
  font-family: var(--font-poppins), sans-serif;
  text-wrap: nowrap;
  font-size: clamp(1rem, 0.9151rem + 0.36199vw, 1.25rem);
  font-weight: 600;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    border-radius: var(--main-radius);
    bottom: 0;
    display: block;
    height: 2px;
    width: 0;
    background: currentColor;
    transition: width var(--main-transition);
  }

  @media (hover: hover) {
    &:hover::after {
      width: 100%;
    }
  }

  &:active::after {
    width: 100%;
  }
}

.header__burger-button {
  display: none;
}

@media (max-width: 48rem) {
  .header__menu {
    gap: 1rem;
  }

  .header__menu-list {
    display: none;
    opacity: 0;
  }

  .header__menu-list--open {
    z-index: 20;
    background: var(--color-white);
    padding: 1rem;
    border-radius: var(--main-radius);
    gap: 1rem;
    top: 150%;
    right: 0;
    text-align: right;
    position: absolute;
    display: flex;
    flex-direction: column;
    opacity: 1;
    transform: translateY(0);
    transition:
      opacity var(--main-transition),
      transform var(--main-transition);
    transition-behavior: allow-discrete;

    @starting-style {
      opacity: 0;
      transform: translateY(-10px);
    }
  }

  .header__burger-button {
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    aspect-ratio: 1;
    position: relative;
    border: none;
    padding: 0;

    @media (hover: hover) {
      &:hover .header__burger-line,
      &:hover .header__burger-line:before,
      &:hover .header__burger-line:after {
        background: var(--color-brown-light);
      }
    }

    &:active .header__burger-line,
    &:active .header__burger-line:before,
    &:active .header__burger-line:after {
      background: var(--color-brown-light);
    }
  }

  .header__burger-line {
    display: block;
    height: 2px;
    width: 100%;
    background: var(--color-black);
    border-radius: var(--main-radius);
    transition:
      width var(--main-transition),
      background-color var(--main-transition);

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -1px;
      display: block;
      height: 2px;
      width: 100%;
      background: var(--color-black);
      border-radius: var(--main-radius);
      transition:
        transform var(--main-transition),
        background-color var(--main-transition);
    }

    &::before {
      transform: translateY(-500%);
    }

    &::after {
      transform: translateY(500%);
    }
  }

  .header__burger-button--open .header__burger-line {
    width: 0;

    &::before {
      transform: translateY(0) rotate(-45deg);
    }

    &::after {
      transform: translateY(0) rotate(45deg);
    }
  }
}
