.products-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  width: 100%;
}

.products-container__card-container {
  width: 100%;
  aspect-ratio: 6 / 5;
}

.products-container__card-controls {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.products-container__card-information {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  overflow: hidden;
}

.products-container__card-title {
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  font-weight: 500;
  font-size: clamp(1rem, 0.83rem + 0.7239vw, 1.5rem);
  color: var(--color-white);
}
.products-container__card-container,
.products-container__card-title {
  background: transparent;
  padding: 0;
  border: none;
}

.products-container__card-price {
  font-weight: 600;
  font-size: clamp(1rem, 0.83rem + 0.7239vw, 1.5rem);
}

.products-container__card-buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.products-container__card-quantity {
  font-size: clamp(1rem, 0.83rem + 0.7239vw, 1.5rem);
}

@media (max-width: 48rem) {
  .products-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 35rem) {
  .products-container {
    grid-template-columns: 1fr;
  }
}