a {
  text-decoration: none;
  color: var(--color-light);
}

.body {
  font-family: var(--font-inter), sans-serif;
  color: var(--color-light);
  background: var(--color-white);
  overflow-x: hidden;
  display: flex;
}

.root {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.main {
  padding-bottom: clamp(2rem, -0.0786rem + 8.868vw, 8.125rem);
  display: flex;
  gap: clamp(2rem, -0.0786rem + 8.868vw, 8.125rem);
  flex-direction: column;
  align-items: center;
}

.main,
.basket-main {
  flex: 1;
}

.container {
  padding-inline: 1rem;
  max-width: var(--main-container-width);
}

.big-container {
  max-width: var(--big-container-width);
  width: 100%;
}

.logo {
  flex-shrink: 0;
  color: var(--color-black);
  transition: color var(--main-transition);

  @media (hover: hover) {
    &:hover {
      color: var(--color-brown-light);
    }
  }

  &:active {
    color: var(--color-brown-light);
  }
}

.accent-text {
  font-size: clamp(1rem, 0.83rem + 0.7239vw, 1.5rem);
  color: var(--color-brown-light);
  font-weight: 600;
}

.close {
  padding: 0.25rem;
  display: flex;
  align-items: center;
  aspect-ratio: 1;
  background: transparent;
  border: none;
  transition: color var(--main-transition);

  &:disabled {
    opacity: 0.75;
    cursor: not-allowed;
  }

  @media (hover: hover) {
    &:not(:disabled):hover {
      color: var(--color-brown-light);
    }
  }

  &:not(:disabled):active {
    color: var(--color-brown-light);
  }
}

.main-button {
  border: none;
  border-radius: var(--second-radius);
  padding: 0.25rem 0.75rem;
  background: var(--color-brown);
  font-size: clamp(1rem, 0.83rem + 0.7239vw, 1.5rem);
  color: var(--color-white);
  font-weight: 500;
  transition: background-color var(--main-transition), transform var(--main-transition);

  &:disabled {
    opacity: 0.75;
    cursor: not-allowed;
  }

  @media (hover: hover) {
    &:hover {
      background: var(--color-brown-hover);
    }
  }

  &:not(:disabled):active {
    background: var(--color-brown-hover);
    transform: scale(0.97);
  }
}

.link {
  font-size: clamp(1rem, 0.83rem + 0.7239vw, 1.5rem);
  padding: clamp(0.5rem, 0.415rem + 0.3619vw, 0.75rem) clamp(1rem, 0.57579rem + 1.8099vw, 2.25rem);
  background: var(--color-brown);
  border-radius: var(--main-radius);
  font-weight: 600;
  border: 1px solid var(--color-black);
  transition: background-color var(--main-transition), transform var(--main-transition);

  @media (hover: hover) {
    &:hover {
      background: var(--color-brown-hover);
    }
  }

  &:active {
    background: var(--color-brown-hover);
    transform: scale(0.97);
  }
}

.link--transparent {
  background: transparent;
  border: 1px solid var(--color-brown-light);

  @media (hover: hover) {
    &:hover {
      background: var(--color-brown-light);
    }
  }

  &:active {
    background: var(--color-brown-light);
    transform: scale(0.97);
  }
}

.card {
  background-image: url("../assets/images/card-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: var(--main-radius);
  overflow: hidden;
}

.card-image {
  border-radius: var(--main-radius);
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.card-loading{
  background: var(--color-gray);
  border-radius: var(--main-radius);
}

.page-title {
  font-family: var(--font-sansita-swashed), sans-serif;
  font-weight: 400;
  font-size: clamp(2rem, 1.1515rem + 3.6199vw, 4.5rem);
  line-height: 1.2;
}

.section-title {
  text-align: center;
  font-family: var(--font-sansita-swashed), sans-serif;
  font-size: clamp(1.5rem, 0.6515rem + 3.6199vw, 4rem);
  color: var(--color-dark);
  font-weight: 600;
  line-height: 1.2;
}

.no-scroll {
  overflow: hidden;
}

.line {
  height: 1px;
  width: 100%;
}

@media (max-width: 35rem) {
  .logo__image {
    width: 2rem;
    height: 2rem;
  }
}