@import "normalize.css";
@import "fonts.css";
@import "variables.css";
@import "blocks/header.css";
@import "blocks/hero.css";
@import "blocks/top-products.css";

a {
  text-decoration: none;
  color: var(--color-light);
}

.body {
  font-family: var(--font-inter), sans-serif;
  color: var(--color-light);
  background: var(--color-white);
  overflow-x: hidden;
}

.logo {
  flex-shrink: 0;
  color: var(--color-black);
  transition: color var(--main-transition);

  @media (hover: hover) {
    &:hover {
      color: var(--color-brown-light);
    }
  }

  &:active {
    color: var(--color-brown-light);
  }
}

.main {
  padding-bottom: clamp(2rem, -0.0786rem + 8.868vw, 8.125rem);
  display: flex;
  gap: clamp(2rem, -0.0786rem + 8.868vw, 8.125rem);
  flex-direction: column;
  align-items: center;
}

.container {
  padding-inline: 1rem;
  max-width: var(--main-container-width);
}

.big-container {
  max-width: var(--big-container-width);
  width: 100%;
}

.accent-text {
  font-size: clamp(1rem, 0.83rem + 0.7239vw, 1.5rem);
  color: var(--color-brown-light);
  font-weight: 600;
}

.link {
  font-size: clamp(1rem, 0.83rem + 0.7239vw, 1.5rem);
  padding: clamp(0.5rem, 0.415rem + 0.3619vw, 0.75rem) clamp(1rem, 0.57579rem + 1.8099vw, 2.25rem);
  background: var(--color-brown);
  border-radius: var(--main-radius);
  font-weight: 600;
  border: 1px solid var(--color-black);
  transition: background-color var(--main-transition), transform var(--main-transition);

  @media (hover: hover) {
    &:hover {
      background: var(--color-brown-hover);
    }
  }

  &:active {
    background: var(--color-brown-hover);
    transform: scale(0.97);
  }
}

.link--transparent {
  background: transparent;
  border: 1px solid var(--color-brown-light);

  @media (hover: hover) {
    &:hover {
      background: var(--color-brown-light);
    }
  }

  &:active {
    background: var(--color-brown-light);
    transform: scale(0.97);
  }
}

.card {
  background-image: url("../assets/images/card-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: var(--main-radius);
  overflow: hidden;
}

@media (max-width: 35rem) {
  .logo__image {
    width: 2rem;
    height: 2rem;
  }
}

.section-title {
  text-align: center;
  font-family: var(--font-sansita-swashed), sans-serif;
  font-size: clamp(1.5rem, 0.6515rem + 3.6199vw, 4rem);
  color: var(--color-dark);
  font-weight: 600;
  line-height: 1.2;
}